@import './components/teams';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './components/header';
@import './components/loader';

* {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  line-height: 4px;
}

body {
  background-color: #a1aaad;
  background: linear-gradient(to bottom right, #a1aaad, grey);
  height: 320px;
  width: 350px;
  border: 1px solid orange;
}
